control/wsdl/DirectoryService.xsd_4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://repository.acxim.epicor.com/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://repository.acxim.epicor.com/datatypes">

<xs:complexType name="repositoryInfoRequest">
<xs:sequence>
<xs:element name="Property" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="Priority" type="tns:priority" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="priority">
<xs:sequence>
<xs:element name="ApplicationType" type="xs:int" />
<xs:element name="TransactionType" type="xs:int" nillable="true" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="repositoryInfoResponse">
<xs:sequence>
<xs:element name="PropertyReply" type="tns:propertyReply" maxOccurs="unbounded" />
<xs:element name="PriorityReply" type="tns:priorityReply" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertyReply">
<xs:sequence>
<xs:element name="Name" type="xs:string" />
<xs:element name="PropertyValue" type="xs:string" />
<xs:element name="Error" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="priorityReply">
<xs:sequence>
<xs:element name="ApplicationType" type="xs:int" />
<xs:element name="TransactionType" type="xs:int" />
<xs:element name="PriorityValue" type="xs:string" />
<xs:element name="Error" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>