control/wsdl/DirectoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aconnex.com/services/directoryservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.aconnex.com/services/directoryservices" name="DirectoryService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.epicor.com/acxim/directoryservices/datatypes" schemaLocation="file:../control/wsdl/DirectoryService.xsd_1.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.aconnex.com/services/directoryservices" schemaLocation="file:../control/wsdl/DirectoryService.xsd_2.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.aconnex.com/faults" schemaLocation="file:../control/wsdl/DirectoryService.xsd_3.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://repository.acxim.epicor.com/datatypes" schemaLocation="file:../control/wsdl/DirectoryService.xsd_4.xsd" />
</xsd:schema>
</types>
<message name="getOptions1">
<part name="parameters" element="tns:getOptions1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getOptions1Response">
<part name="result" element="tns:getOptions1Response" />
</message>
<message name="NotificationResponseException">
<part xmlns:ns1="http://www.aconnex.com/faults" name="fault" element="ns1:notificationResponse" />
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceFault" />
</message>
<message name="updateConnection1">
<part name="parameters" element="tns:updateConnection1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateConnection1Response">
<part name="result" element="tns:updateConnection1Response" />
</message>
<message name="updateConnection2">
<part name="parameters" element="tns:updateConnection2" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateConnection2Response">
<part name="result" element="tns:updateConnection2Response" />
</message>
<message name="updateConnectionFull1">
<part name="parameters" element="tns:updateConnectionFull1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateConnectionFull1Response">
<part name="result" element="tns:updateConnectionFull1Response" />
</message>
<message name="updateConnectionFull2">
<part name="parameters" element="tns:updateConnectionFull2" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateConnectionFull2Response">
<part name="result" element="tns:updateConnectionFull2Response" />
</message>
<message name="getConnectionInfo1">
<part name="parameters" element="tns:getConnectionInfo1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getConnectionInfo1Response">
<part name="result" element="tns:getConnectionInfo1Response" />
</message>
<message name="getConnectionInfo3">
<part name="parameters" element="tns:getConnectionInfo3" />
</message>
<message name="getConnectionInfo3Response">
<part name="parameters" element="tns:getConnectionInfo3Response" />
</message>
<message name="getConnectionInfoInternal1">
<part name="parameters" element="tns:getConnectionInfoInternal1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getConnectionInfoInternal1Response">
<part name="result" element="tns:getConnectionInfoInternal1Response" />
</message>
<message name="getConnectionInfoInternal2">
<part name="parameters" element="tns:getConnectionInfoInternal2" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getConnectionInfoInternal2Response">
<part name="result" element="tns:getConnectionInfoInternal2Response" />
</message>
<message name="getConnectionInfo2">
<part name="parameters" element="tns:getConnectionInfo2" />
</message>
<message name="getConnectionInfo2Response">
<part name="parameters" element="tns:getConnectionInfo2Response" />
</message>
<message name="getServiceInfo1">
<part name="parameters" element="tns:getServiceInfo1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getServiceInfo1Response">
<part name="result" element="tns:getServiceInfo1Response" />
</message>
<message name="listMemberAffiliations1">
<part name="parameters" element="tns:listMemberAffiliations1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listMemberAffiliations1Response">
<part name="result" element="tns:listMemberAffiliations1Response" />
</message>
<message name="listApplicationServices1">
<part name="parameters" element="tns:listApplicationServices1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listApplicationServices1Response">
<part name="result" element="tns:listApplicationServices1Response" />
</message>
<message name="listBusinessSystemProviders1">
<part name="parameters" element="tns:listBusinessSystemProviders1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listBusinessSystemProviders1Response">
<part name="result" element="tns:listBusinessSystemProviders1Response" />
</message>
<message name="listStaticAssociations1">
<part name="parameters" element="tns:listStaticAssociations1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listStaticAssociations1Response">
<part name="result" element="tns:listStaticAssociations1Response" />
</message>
<message name="listPartnerTypes1">
<part name="parameters" element="tns:listPartnerTypes1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listPartnerTypes1Response">
<part name="result" element="tns:listPartnerTypes1Response" />
</message>
<message name="getAccessRules1">
<part name="parameters" element="tns:getAccessRules1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getAccessRules1Response">
<part name="result" element="tns:getAccessRules1Response" />
</message>
<message name="getAccessRulesWithName1">
<part name="parameters" element="tns:getAccessRulesWithName1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getAccessRulesWithName1Response">
<part name="result" element="tns:getAccessRulesWithName1Response" />
</message>
<message name="addAccessRules1">
<part name="parameters" element="tns:addAccessRules1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="addAccessRules1Response">
<part name="result" element="tns:addAccessRules1Response" />
</message>
<message name="deleteAccessRules1">
<part name="parameters" element="tns:deleteAccessRules1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="deleteAccessRules1Response">
<part name="result" element="tns:deleteAccessRules1Response" />
</message>
<message name="canBuyOnBehalfOf1">
<part name="parameters" element="tns:canBuyOnBehalfOf1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="canBuyOnBehalfOf1Response">
<part name="result" element="tns:canBuyOnBehalfOf1Response" />
</message>
<message name="getRepositoryInfo1">
<part name="parameters" element="tns:getRepositoryInfo1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getRepositoryInfo1Response">
<part name="result" element="tns:getRepositoryInfo1Response" />
</message>
<message name="getGatewayTypes1">
<part name="parameters" element="tns:getGatewayTypes1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getGatewayTypes1Response">
<part name="result" element="tns:getGatewayTypes1Response" />
</message>
<message name="getCountries1">
<part name="parameters" element="tns:getCountries1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getCountries1Response">
<part name="result" element="tns:getCountries1Response" />
</message>
<message name="findAffiliates1">
<part name="parameters" element="tns:findAffiliates1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="findAffiliates1Response">
<part name="result" element="tns:findAffiliates1Response" />
</message>
<message name="verifyUser1">
<part name="parameters" element="tns:verifyUser1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="verifyUser1Response">
<part name="result" element="tns:verifyUser1Response" />
</message>
<message name="updateApfSellerKeys1">
<part name="parameters" element="tns:updateApfSellerKeys1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateApfSellerKeys1Response">
<part name="result" element="tns:updateApfSellerKeys1Response" />
</message>
<message name="updateApfOnlineStatus1">
<part name="parameters" element="tns:updateApfOnlineStatus1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateApfOnlineStatus1Response">
<part name="result" element="tns:updateApfOnlineStatus1Response" />
</message>
<message name="getApfOnlineStatus1">
<part name="parameters" element="tns:getApfOnlineStatus1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getApfOnlineStatus1Response">
<part name="result" element="tns:getApfOnlineStatus1Response" />
</message>
<message name="getApfSellerKeys1">
<part name="parameters" element="tns:getApfSellerKeys1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getApfSellerKeys1Response">
<part name="result" element="tns:getApfSellerKeys1Response" />
</message>
<message name="getServiceInfo2">
<part name="parameters" element="tns:getServiceInfo2" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getServiceInfo2Response">
<part name="result" element="tns:getServiceInfo2Response" />
</message>
<message name="setNodeOffline1">
<part name="parameters" element="tns:setNodeOffline1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="setNodeOffline1Response">
<part name="result" element="tns:setNodeOffline1Response" />
</message>
<message name="setNodeOnline1">
<part name="parameters" element="tns:setNodeOnline1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="setNodeOnline1Response">
<part name="result" element="tns:setNodeOnline1Response" />
</message>
<message name="getServerInfoChangedDate1">
<part name="parameters" element="tns:getServerInfoChangedDate1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getServerInfoChangedDate1Response">
<part name="result" element="tns:getServerInfoChangedDate1Response" />
</message>
<message name="setAllApfNodesOfflineForIP1">
<part name="parameters" element="tns:setAllApfNodesOfflineForIP1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="setAllApfNodesOfflineForIP1Response">
<part name="result" element="tns:setAllApfNodesOfflineForIP1Response" />
</message>
<portType name="DirectoryService">
<operation name="getOptions1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getOptions1Request" message="tns:getOptions1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getOptions1Response" message="tns:getOptions1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getOptions1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getOptions1/Fault/ServiceException" />
</operation>
<operation name="updateConnection1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection1Request" message="tns:updateConnection1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection1Response" message="tns:updateConnection1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection1/Fault/ServiceException" />
</operation>
<operation name="updateConnection2" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection2Request" message="tns:updateConnection2" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection2Response" message="tns:updateConnection2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnection2/Fault/ServiceException" />
</operation>
<operation name="updateConnectionFull1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull1Request" message="tns:updateConnectionFull1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull1Response" message="tns:updateConnectionFull1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull1/Fault/ServiceException" />
</operation>
<operation name="updateConnectionFull2" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull2Request" message="tns:updateConnectionFull2" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull2Response" message="tns:updateConnectionFull2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateConnectionFull2/Fault/ServiceException" />
</operation>
<operation name="getConnectionInfo1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo1Request" message="tns:getConnectionInfo1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo1Response" message="tns:getConnectionInfo1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo1/Fault/ServiceException" />
</operation>
<operation name="getConnectionInfo3">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo3Request" message="tns:getConnectionInfo3" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo3Response" message="tns:getConnectionInfo3Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo3/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo3/Fault/ServiceException" />
</operation>
<operation name="getConnectionInfoInternal1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal1Request" message="tns:getConnectionInfoInternal1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal1Response" message="tns:getConnectionInfoInternal1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal1/Fault/ServiceException" />
</operation>
<operation name="getConnectionInfoInternal2" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal2Request" message="tns:getConnectionInfoInternal2" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal2Response" message="tns:getConnectionInfoInternal2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfoInternal2/Fault/ServiceException" />
</operation>
<operation name="getConnectionInfo2">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo2Request" message="tns:getConnectionInfo2" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo2Response" message="tns:getConnectionInfo2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getConnectionInfo2/Fault/ServiceException" />
</operation>
<operation name="getServiceInfo1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo1Request" message="tns:getServiceInfo1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo1Response" message="tns:getServiceInfo1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo1/Fault/ServiceException" />
</operation>
<operation name="listMemberAffiliations1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listMemberAffiliations1Request" message="tns:listMemberAffiliations1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listMemberAffiliations1Response" message="tns:listMemberAffiliations1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listMemberAffiliations1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listMemberAffiliations1/Fault/ServiceException" />
</operation>
<operation name="listApplicationServices1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listApplicationServices1Request" message="tns:listApplicationServices1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listApplicationServices1Response" message="tns:listApplicationServices1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listApplicationServices1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listApplicationServices1/Fault/ServiceException" />
</operation>
<operation name="listBusinessSystemProviders1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listBusinessSystemProviders1Request" message="tns:listBusinessSystemProviders1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listBusinessSystemProviders1Response" message="tns:listBusinessSystemProviders1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listBusinessSystemProviders1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listBusinessSystemProviders1/Fault/ServiceException" />
</operation>
<operation name="listStaticAssociations1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listStaticAssociations1Request" message="tns:listStaticAssociations1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listStaticAssociations1Response" message="tns:listStaticAssociations1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listStaticAssociations1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listStaticAssociations1/Fault/ServiceException" />
</operation>
<operation name="listPartnerTypes1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listPartnerTypes1Request" message="tns:listPartnerTypes1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listPartnerTypes1Response" message="tns:listPartnerTypes1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listPartnerTypes1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/listPartnerTypes1/Fault/ServiceException" />
</operation>
<operation name="getAccessRules1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRules1Request" message="tns:getAccessRules1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRules1Response" message="tns:getAccessRules1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRules1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRules1/Fault/ServiceException" />
</operation>
<operation name="getAccessRulesWithName1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRulesWithName1Request" message="tns:getAccessRulesWithName1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRulesWithName1Response" message="tns:getAccessRulesWithName1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRulesWithName1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getAccessRulesWithName1/Fault/ServiceException" />
</operation>
<operation name="addAccessRules1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/addAccessRules1Request" message="tns:addAccessRules1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/addAccessRules1Response" message="tns:addAccessRules1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/addAccessRules1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/addAccessRules1/Fault/ServiceException" />
</operation>
<operation name="deleteAccessRules1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/deleteAccessRules1Request" message="tns:deleteAccessRules1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/deleteAccessRules1Response" message="tns:deleteAccessRules1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/deleteAccessRules1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/deleteAccessRules1/Fault/ServiceException" />
</operation>
<operation name="canBuyOnBehalfOf1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/canBuyOnBehalfOf1Request" message="tns:canBuyOnBehalfOf1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/canBuyOnBehalfOf1Response" message="tns:canBuyOnBehalfOf1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/canBuyOnBehalfOf1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/canBuyOnBehalfOf1/Fault/ServiceException" />
</operation>
<operation name="getRepositoryInfo1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getRepositoryInfo1Request" message="tns:getRepositoryInfo1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getRepositoryInfo1Response" message="tns:getRepositoryInfo1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getRepositoryInfo1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getRepositoryInfo1/Fault/ServiceException" />
</operation>
<operation name="getServiceInfo2" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo2Request" message="tns:getServiceInfo2" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo2Response" message="tns:getServiceInfo2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServiceInfo2/Fault/ServiceException" />
</operation>
<operation name="getGatewayTypes1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getGatewayTypes1Request" message="tns:getGatewayTypes1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getGatewayTypes1Response" message="tns:getGatewayTypes1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getGatewayTypes1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getGatewayTypes1/Fault/ServiceException" />
</operation>
<operation name="getCountries1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getCountries1Request" message="tns:getCountries1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getCountries1Response" message="tns:getCountries1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getCountries1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getCountries1/Fault/ServiceException" />
</operation>
<operation name="findAffiliates1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/findAffiliates1Request" message="tns:findAffiliates1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/findAffiliates1Response" message="tns:findAffiliates1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/findAffiliates1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/findAffiliates1/Fault/ServiceException" />
</operation>
<operation name="verifyUser1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/verifyUser1Request" message="tns:verifyUser1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/verifyUser1Response" message="tns:verifyUser1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/verifyUser1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/verifyUser1/Fault/ServiceException" />
</operation>
<operation name="updateApfSellerKeys1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateApfSellerKeys1Request" message="tns:updateApfSellerKeys1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateApfSellerKeys1Response" message="tns:updateApfSellerKeys1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateApfSellerKeys1/Fault/ServiceException" />
</operation>
<operation name="updateApfOnlineStatus1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateApfOnlineStatus1Request" message="tns:updateApfOnlineStatus1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateApfOnlineStatus1Response" message="tns:updateApfOnlineStatus1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/updateApfOnlineStatus1/Fault/ServiceException" />
</operation>
<operation name="getApfOnlineStatus1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getApfOnlineStatus1Request" message="tns:getApfOnlineStatus1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getApfOnlineStatus1Response" message="tns:getApfOnlineStatus1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getApfOnlineStatus1/Fault/ServiceException" />
</operation>
<operation name="getApfSellerKeys1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getApfSellerKeys1Request" message="tns:getApfSellerKeys1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getApfSellerKeys1Response" message="tns:getApfSellerKeys1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getApfSellerKeys1/Fault/ServiceException" />
</operation>
<operation name="setNodeOffline1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setNodeOffline1Request" message="tns:setNodeOffline1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setNodeOffline1Response" message="tns:setNodeOffline1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setNodeOffline1/Fault/ServiceException" />
</operation>
<operation name="setNodeOnline1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setNodeOnline1Request" message="tns:setNodeOnline1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setNodeOnline1Response" message="tns:setNodeOnline1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setNodeOnline1/Fault/ServiceException" />
</operation>
<operation name="getServerInfoChangedDate1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServerInfoChangedDate1Request" message="tns:getServerInfoChangedDate1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServerInfoChangedDate1Response" message="tns:getServerInfoChangedDate1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServerInfoChangedDate1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/getServerInfoChangedDate1/Fault/ServiceException" />
</operation>
<operation name="setAllApfNodesOfflineForIP1" parameterOrder="parameters username password">
<input wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setAllApfNodesOfflineForIP1Request" message="tns:setAllApfNodesOfflineForIP1" />
<output wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setAllApfNodesOfflineForIP1Response" message="tns:setAllApfNodesOfflineForIP1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.aconnex.com/services/directoryservices/DirectoryService/setAllApfNodesOfflineForIP1/Fault/ServiceException" />
</operation>
</portType>
<binding name="DirectoryServicePortBinding" type="tns:DirectoryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getOptions1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getOptions1" part="username" use="literal" />
<soap:header message="tns:getOptions1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateConnection1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateConnection1" part="username" use="literal" />
<soap:header message="tns:updateConnection1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateConnection2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateConnection2" part="username" use="literal" />
<soap:header message="tns:updateConnection2" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateConnectionFull1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateConnectionFull1" part="username" use="literal" />
<soap:header message="tns:updateConnectionFull1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateConnectionFull2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateConnectionFull2" part="username" use="literal" />
<soap:header message="tns:updateConnectionFull2" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getConnectionInfo1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getConnectionInfo1" part="username" use="literal" />
<soap:header message="tns:getConnectionInfo1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getConnectionInfo3">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getConnectionInfoInternal1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getConnectionInfoInternal1" part="username" use="literal" />
<soap:header message="tns:getConnectionInfoInternal1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getConnectionInfoInternal2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getConnectionInfoInternal2" part="username" use="literal" />
<soap:header message="tns:getConnectionInfoInternal2" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getConnectionInfo2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getServiceInfo1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getServiceInfo1" part="username" use="literal" />
<soap:header message="tns:getServiceInfo1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listMemberAffiliations1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listMemberAffiliations1" part="username" use="literal" />
<soap:header message="tns:listMemberAffiliations1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listApplicationServices1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listApplicationServices1" part="username" use="literal" />
<soap:header message="tns:listApplicationServices1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listBusinessSystemProviders1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listBusinessSystemProviders1" part="username" use="literal" />
<soap:header message="tns:listBusinessSystemProviders1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listStaticAssociations1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listStaticAssociations1" part="username" use="literal" />
<soap:header message="tns:listStaticAssociations1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listPartnerTypes1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listPartnerTypes1" part="username" use="literal" />
<soap:header message="tns:listPartnerTypes1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getAccessRules1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getAccessRules1" part="username" use="literal" />
<soap:header message="tns:getAccessRules1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getAccessRulesWithName1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getAccessRulesWithName1" part="username" use="literal" />
<soap:header message="tns:getAccessRulesWithName1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="addAccessRules1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:addAccessRules1" part="username" use="literal" />
<soap:header message="tns:addAccessRules1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="deleteAccessRules1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:deleteAccessRules1" part="username" use="literal" />
<soap:header message="tns:deleteAccessRules1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="canBuyOnBehalfOf1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:canBuyOnBehalfOf1" part="username" use="literal" />
<soap:header message="tns:canBuyOnBehalfOf1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getRepositoryInfo1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getRepositoryInfo1" part="username" use="literal" />
<soap:header message="tns:getRepositoryInfo1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getServiceInfo2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getServiceInfo2" part="username" use="literal" />
<soap:header message="tns:getServiceInfo2" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getGatewayTypes1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getGatewayTypes1" part="username" use="literal" />
<soap:header message="tns:getGatewayTypes1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getCountries1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getCountries1" part="username" use="literal" />
<soap:header message="tns:getCountries1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="findAffiliates1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:findAffiliates1" part="username" use="literal" />
<soap:header message="tns:findAffiliates1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="verifyUser1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:verifyUser1" part="username" use="literal" />
<soap:header message="tns:verifyUser1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateApfSellerKeys1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateApfSellerKeys1" part="username" use="literal" />
<soap:header message="tns:updateApfSellerKeys1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateApfOnlineStatus1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateApfOnlineStatus1" part="username" use="literal" />
<soap:header message="tns:updateApfOnlineStatus1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getApfOnlineStatus1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getApfOnlineStatus1" part="username" use="literal" />
<soap:header message="tns:getApfOnlineStatus1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getApfSellerKeys1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getApfSellerKeys1" part="username" use="literal" />
<soap:header message="tns:getApfSellerKeys1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="setNodeOffline1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:setNodeOffline1" part="username" use="literal" />
<soap:header message="tns:setNodeOffline1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="setNodeOnline1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:setNodeOnline1" part="username" use="literal" />
<soap:header message="tns:setNodeOnline1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getServerInfoChangedDate1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getServerInfoChangedDate1" part="username" use="literal" />
<soap:header message="tns:getServerInfoChangedDate1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="setAllApfNodesOfflineForIP1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:setAllApfNodesOfflineForIP1" part="username" use="literal" />
<soap:header message="tns:setAllApfNodesOfflineForIP1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
</binding>
<service name="DirectoryService">
<port name="DirectoryServicePort" binding="tns:DirectoryServicePortBinding">
<soap:address location="http://localhost:8080/Directory/DirectoryService" />
</port>
</service>
</definitions>
