control/wsdl/Observations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://observations.acxim.epicor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://observations.acxim.epicor.com/" name="ObservationsService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.aconnex.com/faults" schemaLocation="file:../control/wsdl/Observations.xsd_1.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://observations.acxim.epicor.com/" schemaLocation="file:../control/wsdl/Observations.xsd_2.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://observations.aconnex.com/observations/datatypes" schemaLocation="file:../control/wsdl/Observations.xsd_3.xsd" />
</xsd:schema>
</types>
<message name="logObservation1">
<part name="parameters" element="tns:logObservation1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="logObservation1Response">
<part name="result" element="tns:logObservation1Response" />
</message>
<message name="NotificationResponseException">
<part xmlns:ns1="http://www.aconnex.com/faults" name="fault" element="ns1:notificationResponse" />
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceFault" />
</message>
<message name="logObservation2">
<part name="parameters" element="tns:logObservation2" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="logObservation2Response">
<part name="result" element="tns:logObservation2Response" />
</message>
<portType name="Observations">
<operation name="logObservation1" parameterOrder="parameters username password">
<input wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation1Request" message="tns:logObservation1" />
<output wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation1Response" message="tns:logObservation1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation1/Fault/ServiceException" />
</operation>
<operation name="logObservation2" parameterOrder="parameters username password">
<input wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation2Request" message="tns:logObservation2" />
<output wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation2Response" message="tns:logObservation2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://observations.acxim.epicor.com/Observations/logObservation2/Fault/ServiceException" />
</operation>
</portType>
<binding name="ObservationsPortBinding" type="tns:Observations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="logObservation1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:logObservation1" part="username" use="literal" />
<soap:header message="tns:logObservation1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="logObservation2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:logObservation2" part="username" use="literal" />
<soap:header message="tns:logObservation2" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
</binding>
<service name="ObservationsService">
<port name="ObservationsPort" binding="tns:ObservationsPortBinding">
<soap:address location="http://localhost:8080/Observations/Observations" />
</port>
</service>
</definitions>
