control/wsdl/Observations.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://observations.acxim.epicor.com/" xmlns:ns1="http://observations.aconnex.com/observations/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://observations.acxim.epicor.com/">

<xs:import namespace="http://observations.aconnex.com/observations/datatypes" schemaLocation="file:../control/wsdl/Observations.xsd_3.xsd" />

<xs:element name="ServiceFault" nillable="true" type="tns:com.epicor.acxim.directoryservices.exceptions.ServiceException" />

<xs:element name="logObservation1" type="tns:logObservation1" />

<xs:element name="logObservation1Response" type="tns:logObservation1Response" />

<xs:element name="logObservation2" type="tns:logObservation2" />

<xs:element name="logObservation2Response" type="tns:logObservation2Response" />

<xs:element name="password" nillable="true" type="xs:string" />

<xs:element name="username" nillable="true" type="xs:string" />

<xs:complexType name="logObservation2">
<xs:sequence>
<xs:element name="Observation" type="ns1:observation" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="logObservation2Response">
<xs:sequence>
<xs:element name="ObservationReply" type="ns1:observationReply" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="com.epicor.acxim.directoryservices.exceptions.NotificationResponseException">
<xs:sequence>
<xs:element name="acxNotificationResponse" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="com.epicor.acxim.directoryservices.exceptions.ServiceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="logObservation1">
<xs:sequence>
<xs:element name="Observation" type="ns1:observation" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="logObservation1Response">
<xs:sequence>
<xs:element name="ObservationReply" type="ns1:observationReply" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>
