control/wsdl/PartnerManagementService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.epicor.com/acxim/directoryservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.epicor.com/acxim/directoryservices" name="PartnerManagementService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.epicor.com/acxim/directoryservices/datatypes" schemaLocation="file:../control/wsdl/PartnerManagementService.xsd_1.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.epicor.com/acxim/directoryservices" schemaLocation="file:../control/wsdl/PartnerManagementService.xsd_2.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.aconnex.com/faults" schemaLocation="file:../control/wsdl/PartnerManagementService.xsd_3.xsd" />
</xsd:schema>
</types>
<message name="retrieveLegalAgreement1">
<part name="parameters" element="tns:retrieveLegalAgreement1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrieveLegalAgreement1Response">
<part name="result" element="tns:retrieveLegalAgreement1Response" />
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceFault" />
</message>
<message name="NotificationResponseException">
<part xmlns:ns1="http://www.aconnex.com/faults" name="fault" element="ns1:notificationResponse" />
</message>
<message name="createPartner1">
<part name="parameters" element="tns:createPartner1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="createPartner1Response">
<part name="result" element="tns:createPartner1Response" />
</message>
<message name="isPartnerValid1">
<part name="parameters" element="tns:isPartnerValid1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="isPartnerValid1Response">
<part name="result" element="tns:isPartnerValid1Response" />
</message>
<message name="retrieveGroupPartners1">
<part name="parameters" element="tns:retrieveGroupPartners1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrieveGroupPartners1Response">
<part name="result" element="tns:retrieveGroupPartners1Response" />
</message>
<message name="retrievePartner1">
<part name="parameters" element="tns:retrievePartner1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrievePartner1Response">
<part name="result" element="tns:retrievePartner1Response" />
</message>
<message name="deletePartner1">
<part name="parameters" element="tns:deletePartner1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="deletePartner1Response">
<part name="result" element="tns:deletePartner1Response" />
</message>
<message name="deleteGroup1">
<part name="parameters" element="tns:deleteGroup1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="deleteGroup1Response">
<part name="result" element="tns:deleteGroup1Response" />
</message>
<message name="updatePartner1">
<part name="parameters" element="tns:updatePartner1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updatePartner1Response">
<part name="result" element="tns:updatePartner1Response" />
</message>
<message name="destroyPartner1">
<part name="parameters" element="tns:destroyPartner1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="destroyPartner1Response">
<part name="result" element="tns:destroyPartner1Response" />
</message>
<message name="listPartners1">
<part name="parameters" element="tns:listPartners1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listPartners1Response">
<part name="result" element="tns:listPartners1Response" />
</message>
<message name="isTradingRelationshipValid1">
<part name="parameters" element="tns:isTradingRelationshipValid1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="isTradingRelationshipValid1Response">
<part name="result" element="tns:isTradingRelationshipValid1Response" />
</message>
<message name="listTradingRelationships1">
<part name="parameters" element="tns:listTradingRelationships1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listTradingRelationships1Response">
<part name="result" element="tns:listTradingRelationships1Response" />
</message>
<message name="createTradingRelationship1">
<part name="parameters" element="tns:createTradingRelationship1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="createTradingRelationship1Response">
<part name="result" element="tns:createTradingRelationship1Response" />
</message>
<message name="updateTradingRelationship1">
<part name="parameters" element="tns:updateTradingRelationship1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="updateTradingRelationship1Response">
<part name="result" element="tns:updateTradingRelationship1Response" />
</message>
<message name="removeTradingRelationship1">
<part name="parameters" element="tns:removeTradingRelationship1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="removeTradingRelationship1Response">
<part name="result" element="tns:removeTradingRelationship1Response" />
</message>
<message name="retrieveTradingRelationship1">
<part name="parameters" element="tns:retrieveTradingRelationship1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrieveTradingRelationship1Response">
<part name="result" element="tns:retrieveTradingRelationship1Response" />
</message>
<message name="bindBrokerToGroup1">
<part name="parameters" element="tns:bindBrokerToGroup1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="bindBrokerToGroup1Response">
<part name="result" element="tns:bindBrokerToGroup1Response" />
</message>
<message name="nodeExists1">
<part name="parameters" element="tns:nodeExists1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="nodeExists1Response">
<part name="result" element="tns:nodeExists1Response" />
</message>
<message name="getAllPartnersInGroup1">
<part name="parameters" element="tns:getAllPartnersInGroup1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getAllPartnersInGroup1Response">
<part name="result" element="tns:getAllPartnersInGroup1Response" />
</message>
<message name="getAllPartnersForBroker1">
<part name="parameters" element="tns:getAllPartnersForBroker1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getAllPartnersForBroker1Response">
<part name="result" element="tns:getAllPartnersForBroker1Response" />
</message>
<portType name="PartnerManagementService">
<operation name="retrieveLegalAgreement1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveLegalAgreement1Request" message="tns:retrieveLegalAgreement1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveLegalAgreement1Response" message="tns:retrieveLegalAgreement1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveLegalAgreement1/Fault/ServiceException" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveLegalAgreement1/Fault/NotificationResponseException" />
</operation>
<operation name="createPartner1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createPartner1Request" message="tns:createPartner1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createPartner1Response" message="tns:createPartner1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createPartner1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createPartner1/Fault/ServiceException" />
</operation>
<operation name="isPartnerValid1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isPartnerValid1Request" message="tns:isPartnerValid1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isPartnerValid1Response" message="tns:isPartnerValid1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isPartnerValid1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isPartnerValid1/Fault/ServiceException" />
</operation>
<operation name="retrieveGroupPartners1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveGroupPartners1Request" message="tns:retrieveGroupPartners1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveGroupPartners1Response" message="tns:retrieveGroupPartners1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveGroupPartners1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveGroupPartners1/Fault/ServiceException" />
</operation>
<operation name="retrievePartner1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrievePartner1Request" message="tns:retrievePartner1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrievePartner1Response" message="tns:retrievePartner1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrievePartner1/Fault/ServiceException" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrievePartner1/Fault/NotificationResponseException" />
</operation>
<operation name="deletePartner1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deletePartner1Request" message="tns:deletePartner1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deletePartner1Response" message="tns:deletePartner1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deletePartner1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deletePartner1/Fault/ServiceException" />
</operation>
<operation name="deleteGroup1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deleteGroup1Request" message="tns:deleteGroup1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deleteGroup1Response" message="tns:deleteGroup1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deleteGroup1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/deleteGroup1/Fault/ServiceException" />
</operation>
<operation name="updatePartner1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updatePartner1Request" message="tns:updatePartner1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updatePartner1Response" message="tns:updatePartner1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updatePartner1/Fault/ServiceException" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updatePartner1/Fault/NotificationResponseException" />
</operation>
<operation name="destroyPartner1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/destroyPartner1Request" message="tns:destroyPartner1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/destroyPartner1Response" message="tns:destroyPartner1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/destroyPartner1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/destroyPartner1/Fault/ServiceException" />
</operation>
<operation name="listPartners1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listPartners1Request" message="tns:listPartners1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listPartners1Response" message="tns:listPartners1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listPartners1/Fault/ServiceException" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listPartners1/Fault/NotificationResponseException" />
</operation>
<operation name="isTradingRelationshipValid1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isTradingRelationshipValid1Request" message="tns:isTradingRelationshipValid1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isTradingRelationshipValid1Response" message="tns:isTradingRelationshipValid1Response" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isTradingRelationshipValid1/Fault/ServiceException" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/isTradingRelationshipValid1/Fault/NotificationResponseException" />
</operation>
<operation name="listTradingRelationships1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listTradingRelationships1Request" message="tns:listTradingRelationships1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listTradingRelationships1Response" message="tns:listTradingRelationships1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listTradingRelationships1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/listTradingRelationships1/Fault/ServiceException" />
</operation>
<operation name="createTradingRelationship1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createTradingRelationship1Request" message="tns:createTradingRelationship1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createTradingRelationship1Response" message="tns:createTradingRelationship1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createTradingRelationship1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/createTradingRelationship1/Fault/ServiceException" />
</operation>
<operation name="updateTradingRelationship1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updateTradingRelationship1Request" message="tns:updateTradingRelationship1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updateTradingRelationship1Response" message="tns:updateTradingRelationship1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updateTradingRelationship1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/updateTradingRelationship1/Fault/ServiceException" />
</operation>
<operation name="removeTradingRelationship1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/removeTradingRelationship1Request" message="tns:removeTradingRelationship1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/removeTradingRelationship1Response" message="tns:removeTradingRelationship1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/removeTradingRelationship1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/removeTradingRelationship1/Fault/ServiceException" />
</operation>
<operation name="retrieveTradingRelationship1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveTradingRelationship1Request" message="tns:retrieveTradingRelationship1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveTradingRelationship1Response" message="tns:retrieveTradingRelationship1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveTradingRelationship1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/retrieveTradingRelationship1/Fault/ServiceException" />
</operation>
<operation name="bindBrokerToGroup1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/bindBrokerToGroup1Request" message="tns:bindBrokerToGroup1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/bindBrokerToGroup1Response" message="tns:bindBrokerToGroup1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/bindBrokerToGroup1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/bindBrokerToGroup1/Fault/ServiceException" />
</operation>
<operation name="nodeExists1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/nodeExists1Request" message="tns:nodeExists1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/nodeExists1Response" message="tns:nodeExists1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/nodeExists1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/nodeExists1/Fault/ServiceException" />
</operation>
<operation name="getAllPartnersInGroup1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersInGroup1Request" message="tns:getAllPartnersInGroup1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersInGroup1Response" message="tns:getAllPartnersInGroup1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersInGroup1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersInGroup1/Fault/ServiceException" />
</operation>
<operation name="getAllPartnersForBroker1" parameterOrder="parameters username password">
<input wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersForBroker1Request" message="tns:getAllPartnersForBroker1" />
<output wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersForBroker1Response" message="tns:getAllPartnersForBroker1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersForBroker1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.epicor.com/acxim/directoryservices/PartnerManagementService/getAllPartnersForBroker1/Fault/ServiceException" />
</operation>
</portType>
<binding name="PartnerManagementServicePortBinding" type="tns:PartnerManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="retrieveLegalAgreement1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrieveLegalAgreement1" part="username" use="literal" />
<soap:header message="tns:retrieveLegalAgreement1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
</operation>
<operation name="createPartner1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:createPartner1" part="username" use="literal" />
<soap:header message="tns:createPartner1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="isPartnerValid1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:isPartnerValid1" part="username" use="literal" />
<soap:header message="tns:isPartnerValid1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="retrieveGroupPartners1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrieveGroupPartners1" part="username" use="literal" />
<soap:header message="tns:retrieveGroupPartners1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="retrievePartner1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrievePartner1" part="username" use="literal" />
<soap:header message="tns:retrievePartner1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
</operation>
<operation name="deletePartner1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:deletePartner1" part="username" use="literal" />
<soap:header message="tns:deletePartner1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="deleteGroup1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:deleteGroup1" part="username" use="literal" />
<soap:header message="tns:deleteGroup1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updatePartner1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updatePartner1" part="username" use="literal" />
<soap:header message="tns:updatePartner1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
</operation>
<operation name="destroyPartner1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:destroyPartner1" part="username" use="literal" />
<soap:header message="tns:destroyPartner1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listPartners1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listPartners1" part="username" use="literal" />
<soap:header message="tns:listPartners1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
</operation>
<operation name="isTradingRelationshipValid1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:isTradingRelationshipValid1" part="username" use="literal" />
<soap:header message="tns:isTradingRelationshipValid1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
</operation>
<operation name="listTradingRelationships1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listTradingRelationships1" part="username" use="literal" />
<soap:header message="tns:listTradingRelationships1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="createTradingRelationship1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:createTradingRelationship1" part="username" use="literal" />
<soap:header message="tns:createTradingRelationship1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="updateTradingRelationship1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:updateTradingRelationship1" part="username" use="literal" />
<soap:header message="tns:updateTradingRelationship1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="removeTradingRelationship1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:removeTradingRelationship1" part="username" use="literal" />
<soap:header message="tns:removeTradingRelationship1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="retrieveTradingRelationship1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrieveTradingRelationship1" part="username" use="literal" />
<soap:header message="tns:retrieveTradingRelationship1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="bindBrokerToGroup1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:bindBrokerToGroup1" part="username" use="literal" />
<soap:header message="tns:bindBrokerToGroup1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="nodeExists1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:nodeExists1" part="username" use="literal" />
<soap:header message="tns:nodeExists1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getAllPartnersInGroup1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getAllPartnersInGroup1" part="username" use="literal" />
<soap:header message="tns:getAllPartnersInGroup1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="getAllPartnersForBroker1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getAllPartnersForBroker1" part="username" use="literal" />
<soap:header message="tns:getAllPartnersForBroker1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
</binding>
<service name="PartnerManagementService">
<port name="PartnerManagementServicePort" binding="tns:PartnerManagementServicePortBinding">
<soap:address location="http://localhost:8080/PartnerManagement/PartnerManagementService" />
</port>
</service>
</definitions>
