control/wsdl/Repository.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://repository.acxim.epicor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://repository.acxim.epicor.com/" name="RepositoryService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.aconnex.com/faults" schemaLocation="file:../control/wsdl/Repository.xsd_1.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://repository.acxim.epicor.com/datatypes" schemaLocation="file:../control/wsdl/Repository.xsd_2.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://repository.acxim.epicor.com/" schemaLocation="file:../control/wsdl/Repository.xsd_3.xsd" />
</xsd:schema>
</types>
<message name="getRepositoryInfo1">
<part name="parameters" element="tns:getRepositoryInfo1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="getRepositoryInfo1Response">
<part name="result" element="tns:getRepositoryInfo1Response" />
</message>
<message name="NotificationResponseException">
<part xmlns:ns1="http://www.aconnex.com/faults" name="fault" element="ns1:notificationResponse" />
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceFault" />
</message>
<message name="depositTransaction1">
<part name="parameters" element="tns:depositTransaction1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="depositTransaction1Response">
<part name="result" element="tns:depositTransaction1Response" />
</message>
<message name="depositTransaction2">
<part name="parameters" element="tns:depositTransaction2" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="depositTransaction2Response">
<part name="result" element="tns:depositTransaction2Response" />
</message>
<message name="retrieveOrder1">
<part name="parameters" element="tns:retrieveOrder1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrieveOrder1Response">
<part name="result" element="tns:retrieveOrder1Response" />
</message>
<message name="retrieveAllOrderDocuments1">
<part name="parameters" element="tns:retrieveAllOrderDocuments1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrieveAllOrderDocuments1Response">
<part name="result" element="tns:retrieveAllOrderDocuments1Response" />
</message>
<message name="retrieveOrders1">
<part name="parameters" element="tns:retrieveOrders1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="retrieveOrders1Response">
<part name="result" element="tns:retrieveOrders1Response" />
</message>
<message name="listOrders1">
<part name="parameters" element="tns:listOrders1" />
<part name="username" element="tns:username" />
<part name="password" element="tns:password" />
</message>
<message name="listOrders1Response">
<part name="result" element="tns:listOrders1Response" />
</message>
<portType name="Repository">
<operation name="getRepositoryInfo1" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/getRepositoryInfo1Request" message="tns:getRepositoryInfo1" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/getRepositoryInfo1Response" message="tns:getRepositoryInfo1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/getRepositoryInfo1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/getRepositoryInfo1/Fault/ServiceException" />
</operation>
<operation name="depositTransaction1" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction1Request" message="tns:depositTransaction1" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction1Response" message="tns:depositTransaction1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction1/Fault/ServiceException" />
</operation>
<operation name="depositTransaction2" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction2Request" message="tns:depositTransaction2" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction2Response" message="tns:depositTransaction2Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction2/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/depositTransaction2/Fault/ServiceException" />
</operation>
<operation name="retrieveOrder1" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrder1Request" message="tns:retrieveOrder1" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrder1Response" message="tns:retrieveOrder1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrder1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrder1/Fault/ServiceException" />
</operation>
<operation name="retrieveAllOrderDocuments1" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveAllOrderDocuments1Request" message="tns:retrieveAllOrderDocuments1" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveAllOrderDocuments1Response" message="tns:retrieveAllOrderDocuments1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveAllOrderDocuments1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveAllOrderDocuments1/Fault/ServiceException" />
</operation>
<operation name="retrieveOrders1" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrders1Request" message="tns:retrieveOrders1" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrders1Response" message="tns:retrieveOrders1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrders1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/retrieveOrders1/Fault/ServiceException" />
</operation>
<operation name="listOrders1" parameterOrder="parameters username password">
<input wsam:Action="http://repository.acxim.epicor.com/Repository/listOrders1Request" message="tns:listOrders1" />
<output wsam:Action="http://repository.acxim.epicor.com/Repository/listOrders1Response" message="tns:listOrders1Response" />
<fault message="tns:NotificationResponseException" name="NotificationResponseException" wsam:Action="http://repository.acxim.epicor.com/Repository/listOrders1/Fault/NotificationResponseException" />
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://repository.acxim.epicor.com/Repository/listOrders1/Fault/ServiceException" />
</operation>
</portType>
<binding name="RepositoryPortBinding" type="tns:Repository">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getRepositoryInfo1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:getRepositoryInfo1" part="username" use="literal" />
<soap:header message="tns:getRepositoryInfo1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="depositTransaction1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:depositTransaction1" part="username" use="literal" />
<soap:header message="tns:depositTransaction1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="depositTransaction2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:depositTransaction2" part="username" use="literal" />
<soap:header message="tns:depositTransaction2" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="retrieveOrder1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrieveOrder1" part="username" use="literal" />
<soap:header message="tns:retrieveOrder1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="retrieveAllOrderDocuments1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrieveAllOrderDocuments1" part="username" use="literal" />
<soap:header message="tns:retrieveAllOrderDocuments1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="retrieveOrders1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:retrieveOrders1" part="username" use="literal" />
<soap:header message="tns:retrieveOrders1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
<operation name="listOrders1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:listOrders1" part="username" use="literal" />
<soap:header message="tns:listOrders1" part="password" use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotificationResponseException">
<soap:fault name="NotificationResponseException" use="literal" />
</fault>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal" />
</fault>
</operation>
</binding>
<service name="RepositoryService">
<port name="RepositoryPort" binding="tns:RepositoryPortBinding">
<soap:address location="http://localhost:8080/Repository/Repository" />
</port>
</service>
</definitions>
